<div class="po-row">

    <po-select name="select" p-label="Who are you?" [p-options]="usersSelect" [(ngModel)]="user"
        (p-change)="onChangeUser()" class="po-lg-3">
    </po-select>
</div>
<div class="po-row">
    <span class="po-field-title po-lg-3">Movies</span>
</div>
<div class="po-row">
    <po-widget *ngFor="let movie of movies" class="po-lg-3 po-mt-2" p-height="420" p-primary="true"
        p-title="{{movie.getTitle()}}" p-background="assets/background.png">
        <div class="po-text-center">
            <img src="{{movie.getUrlPoster()}}" style="height: 200px">
            <p><b>Genre: </b>{{movie.getGenre()}}</p>
            <p><b>Year: </b>{{movie.getYear()}}</p>
            <p><b>Metascore: </b>{{movie.getMetascore()}}</p>

            <a *ngFor="let star of movie.getStars()" (click)="onRate(star, movie)">
                <img *ngIf="!star.rated" src="assets/not_rated.png" style="height: 35px;">
                <img *ngIf="star.rated" src="assets/rated.png" style="height: 35px;">
            </a>
        </div>
    </po-widget>
</div>